# Онлайн-кинотеатр "Окко" - SQL Код

Таблица `Films` хранит информацию о фильмах, доступных в кинотеатре.

- **id**: Идентификатор фильма
- **title**: Название фильма
- **director**: Имя и фамилия режиссера
- **price**: Цена фильма в долларах

Таблица `Users` хранит информацию о пользователях кинотеатра.

- **id**: Идентификатор пользователя
- **name**: Имя пользователя
- **surname**: Фамилия пользователя

Таблица `Purchases` хранит информацию о покупках пользователей.

- **id**: Идентификатор покупки
- **film_id**: Идентификатор фильма
- **user_id**: Идентификатор пользователя

### 1. Напишите запрос, извлекающий из предложенной базы данных имена и фамилии пользователей, которые не приобрели ни одного фильма.

SELECT name, surname
FROM Users
WHERE id NOT IN (SELECT user_id
                 FROM Purchases);

### 2. Напишите запрос, извлекающий из предложенной базы данных информацию о фильмах (название, имя и фамилия режиссера), которые были куплены хотя бы раз. Записи в результирующей таблице должны быть расположены в порядке возрастания значения поля title.

SELECT title, director
FROM Films
WHERE id IN (SELECT film_id
             FROM Purchases)
ORDER BY title;

### 3. Напишите запрос, определяющий количество пользователей, которые приобрели фильм под названием Toy Story 2, и указывающий полученное значение в поле с псевдонимом num_of_users.

SELECT COUNT(*) AS num_of_users
FROM Purchases
WHERE film_id = (SELECT id
                 FROM Films
                 WHERE title = 'Toy Story 2');

### 4. Напишите запрос, извлекающий из предложенной базы данных имена и фамилии пользователей, которые приобрели фильм под названием Toy Story 2. Записи в результирующей таблице должны быть расположены в порядке возрастания значения поля name.

SELECT name, surname
FROM Users
WHERE id IN (SELECT user_id
            FROM Purchases
            WHERE film_id = (SELECT id
                            FROM Films
                            WHERE title = 'Toy Story 2'))
ORDER BY name;

### 5. Напишите запрос, который извлекает из предложенной базы данных имена и фамилии всех пользователей, а также определяет количество фильмов, купленное каждым пользователем. Записи в результирующей таблице должны быть расположены в порядке убывания значения поля num_of_films, при совпадении — в порядке возрастания поля name.

SELECT name, surname,
       (SELECT COUNT(*)
        FROM Purchases
        WHERE user_id = Users.id) AS num_of_films
FROM Users
ORDER BY num_of_films DESC, name;

### 6. Напишите запрос, который извлекает из предложенной базы данных имена и фамилии пользователей, которые приобрели ровно два фильма. Записи в результирующей таблице должны быть расположены в порядке возрастания значения поля name.

SELECT name, surname
FROM Users    
WHERE
    (SELECT COUNT(*) 
     FROM Purchases
     WHERE user_id = Users.id) = 2
ORDER BY name;

### 7. Напишите запрос, который извлекает из предложенной базы данных имя и фамилию пользователя, который приобрел наибольшее количество фильмов. Гарантируется, что только один пользователь приобрел наибольшее количество фильмов.

SELECT name, surname
FROM Users
WHERE id =  (SELECT user_id
             FROM Purchases
             GROUP BY user_id
             ORDER BY COUNT(*) DESC
             LIMIT 1);

### 8. Напишите запрос, который извлекает из предложенной базы данных имена и фамилии пользователей, а также определяет название первого купленного каждым пользователем фильма. При этом в результирующую таблицу должны быть добавлены только те пользователи, которые приобрели хотя бы один фильм. Записи в результирующей таблице должны быть расположены в порядке возрастания значения поля name.

SELECT name, surname, 
       (SELECT title
        FROM Films
        WHERE id = (SELECT film_id
                   FROM Purchases
                   WHERE user_id = Users.id
                   ORDER BY id     
                   LIMIT 1)) AS first_film      
FROM Users
WHERE id IN (SELECT user_id
             FROM Purchases)
ORDER BY name;

### 9. Напишите запрос, который извлекает из предложенной базы данных имена и фамилии всех пользователей, а также определяет количество денег, потраченное каждым пользователем на покупку фильмов. Записи в результирующей таблице должны быть расположены в порядке убывания значения поля total_spending, при совпадении — в порядке возрастания поля name.

SELECT name, surname,
       IFNULL((SELECT SUM(price)
               FROM Films
               WHERE id IN (SELECT film_id
                            FROM Purchases
                            WHERE user_id = Users.id)), 0.00) AS total_spending
FROM Users
ORDER BY total_spending DESC, name;

### 10. Напишите запрос, который извлекает из предложенной базы данных имена и фамилии пользователей, а также определяет название самого дорогого купленного каждым пользователем фильма. При этом в результирующую таблицу должны быть добавлены только те пользователи, которые приобрели хотя бы один фильм. Если пользователем куплено несколько самых дорогих фильмов, в результирующую таблицу должен быть добавлен тот фильм, чье название меньше в лексикографическом сравнении. Поле с названием самого дорогого купленного пользователем фильма должно иметь псевдоним most_expensive_film. Записи в результирующей таблице должны быть расположены в порядке убывания цен самых дорогих купленных пользователями фильмов, при совпадении — в лексикографическом порядке названий этих фильмов, при совпадении — в порядке имен пользователей.

SELECT name, surname,
      (SELECT title
       FROM Films
       WHERE id IN (SELECT film_id
                    FROM Purchases
                    WHERE user_id = Users.id)
       ORDER BY price DESC, title
       LIMIT 1) AS most_expensive_film
FROM Users
WHERE id IN (SELECT user_id
             FROM Purchases)
ORDER BY (SELECT price
          FROM Films
          WHERE title = most_expensive_film) DESC,
          most_expensive_film, name;